@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600;700;800;900&display=swap');
@font-face {
  font-family: "BoldenVan";
  src: url("../fonts/BoldenVan.ttf") format("truetype");
}

:root {
  --white: #FFFFFF;
  --orange: #F0773C;
  --light-blue: #2EA8DD;
  --dark-blue: #1C428C;
  --green: #8CC851;
  --red: #F53955;
}

body {
  font-family: "BoldenVan";
}